.block-nav
    ul
        li
            a
                img(src='../../img/svg/upload-document.svg')
    ul
        li
            a
                img(class='active' src='../../img/svg/pdffiller-colored.svg')
    ul
        li
            a
                img(src='../../img/svg/sharepoint.svg')
    ul
        li
            a
                img(src='../../img/svg/sharepoint.svg')
    ul
        li
            a
                img(src='../../img/svg/dropbox.svg')
    ul
        li
            a
                img(src='../../img/svg/google-drive.svg')
    ul
        li
            a
                img(src='../../img/svg/one-drive.svg')
    ul
        li
            a
                img(src='../../img/svg/box.svg')
    ul
        li
            a
                img(src='../../img/svg/office-365.svg')