.block-table
    table
        tr
            th Name
                img(src='../../img/svg/arrow-alt-down.svg')
            th Size
            th Date
        tr
            td
                img(src='../../img/svg/folder-colored.svg')
                Company Policy
            td 2MB
            td Nov 07, 2017

        tr
            td
                img(src='../../img/svg/document-solid.svg')
                online w9 2017-2018 form
            td 2MB
            td Nov 07, 2017
        tr
            td
                img(src='../../img/svg/document-solid.svg')
                ds 82 2017-2018 form
            td 2MB
            td
                button Import
        tr
            td
                img(src='../../img/svg/document-solid.svg')
                online w9 2017-2018 form
            td 2MB
            td Nov 07, 2017